.list {
  font-family: 'Rajdhani', sans-serif;
  background: black;
  list-style: none;
  font-size: x-large;
  font-weight: 700;
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 60px;
  justify-content: center;
  margin: 0;
  padding: 30px;
}

@media (max-width: 768px) {
  .list {
    font-size: 12px;
    grid-template-columns: repeat(3, auto);
    gap: 15px;
    justify-content: space-around;
    padding: 10px;
  }
}

.list a {
  display: inline-block;
  color: orange;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s linear;
}

.list a:hover {
  transform: scale(1.1);
}

.list a.active-link {
  color: lightgreen;
}

.info {
  font-family: 'Rajdhani', sans-serif;
  background: black;
  color: #ccc;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.info a {
  color: inherit;
  padding-left: 10px;
  text-decoration: none;
}

.info a:hover {
  filter: brightness(80%);
}

@media (max-width: 768px) {
  .list {
    font-size: 12px;
    grid-template-columns: repeat(3, auto);
    gap: 15px;
    justify-content: space-around;
    padding: 10px;
  }

  .info {
    padding: 20px;
  }
}
