html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('assets/backbround.jpg');
  background-size: cover;
  background-position: center;
  word-break: break-word;
  margin: 0;
}
